.navbar {
    background: #060b26;
  
    grid-area: nav;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px 0 30px;
    
  }
  .navbar__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 150px;
  }
  
  .navbar__right > a {
    margin-left: 20px;
    text-decoration: none;
  }
  .nav_icon {
    display: none;
  }
  
  .icons{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 0px;
    font-size: 20px;
  }

  .profile_design{
    display: flex;
    
    
    align-items: center;
  }
  .profile_design span{
    margin-right: 16px;
  }

  @media only screen and (max-width: 800px) {
    .nav_icon {
      display: inline;
    }
    .navbar{
      justify-content: space-between;
    }
  }