@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.text-small{
  text-align: center;
  color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.2fr 3fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
}

.bigTitle{
  font-size: 12px;
  color: #f8f0f0;
  text-align: center;
  padding-bottom: 8px;
}
.biggerTitle{
  font-size: 20px;
  color: #d6d3d3;
  text-align: center;
  padding-bottom: 8px;
}
.text-title {
  color: #fff;
  text-align: center;
  font-size: 13px;
  padding-bottom: 8px;
}


.home .reports .products{
  display: flex;
  justify-content:center ;
  align-items: center;
  font-size: 3rem;
  height: 80vh;
}
@media only screen and (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "nav"
      "main";
  }
}
